.cards {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    padding: 5px;

    .card {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        margin: 10px; 
        border-radius: 15px;
        background-color: $color-fifth;
        box-shadow: 4px 4px 10px $color-secondary;

        &-img {
            height: 140px;
            border-radius: 20px;
        }

        &-texto {
            margin-top: 15px;
        }
    }
}