*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
}.nav{
    width: 100%;
    background-color: $color-primary;
    color: $color-white;
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 20px;
    gap: 30px;
    padding-left: 100px;
}

